---
import Base from "../layouts/base.astro";

import "../globals.css";

import { NewAppTemplate } from "../components/template.tsx";
import Render from "../components/renderer.tsx";

import TaskManager from "../windows/taskManager";

import App from "../components/App.svelte";
import Counter from "../windows/counter.svelte";
import Shortcut from "../components/Shortcut.svelte";
---

<Base
  title="^-^ Jens lil ditch"
  favicon={import.meta.env.BASE_URL + "favicon.svg"}
>
  <Fragment slot="head">
    <script>
      console.log(`Hey there snooper! welcome to the codebase! this is written using astro, svelte, react, and nanostores, so lots of logic wont work if u copy paste it!
This code is freely avaliable at: 
https://github.com/afterlifepro/neocities 
Feel free to snoop! theres more info in the readme :3`);
    </script>

    <style>
      body {
        margin: 0;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3rem;

        .windows {
          overflow: clip;
          position: relative;
          display: grid;
          grid-auto-columns: 8rem;
          grid-auto-rows: 10rem;
          background: var(--desktop-bg);
        }

        .taskbar {
          border-style: solid;
          border-width: 0.2rem 0 0 0;
          border-color: white;
          background-color: #c3c3c3;
        }
      }
    </style>

    <NewAppTemplate
      client:load
      title="gay"
      id="gay"
      icon={"https://i.ebayimg.com/images/g/Z3cAAOSwtchmwzCx/s-l140.jpg"}
    >
      Hi from root <Counter client:load />
      <App app={{ template: "taskman", source: "testing" }} client:load>
        Clickable
      </App>
    </NewAppTemplate>
    <NewAppTemplate client:load title="task manager" id="taskman">
      <TaskManager client:load />
    </NewAppTemplate>
    <NewAppTemplate client:load title="styles" id="styles" width={500}>
      <fieldset>
        <legend>Test</legend>
        <progress value="0.7"></progress>
        <br />
        <input type="checkbox" name="check" id="check" /><label for="check"
          >check</label
        >
        <br />
        <input type="checkbox" name="toggle" id="toggle" data-toggle /><label
          for="toggle">toggle</label
        >
        <br />
        <input type="radio" name="radio" id="radio" /><label for="radio"
          >radio</label
        >
        <br />
        <input type="date" name="date" id="date" />
        <br />
        <input />
        <br />
        <input type="range" name="range" id="range" />
        <br />
        <button>click</button>
        <button class="link">opther page</button>
        <a href="https://hgjdef.com/">example link :3</a>
        <br />
        <blockquote data-src="me">what if doctor who was yuri</blockquote>
      </fieldset>

      <figure>
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallup.net%2Fwp-content%2Fuploads%2F2019%2F09%2F708255-kittens-kitten-cat-cats-baby-cute.jpg&f=1&nofb=1&ipt=09e230b40e0bf8bf0731902225242afdae9986a909c02803db32f08b6855a75b&ipo=images"
          alt="a cat"
        />
        <figcaption>a cat</figcaption>
      </figure>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam sunt
        dolorum illo maxime doloremque dicta veritatis, ex, porro officiis
        quisquam commodi cum quae. Doloremque accusamus voluptas rerum
        temporibus nulla. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Ducimus laboriosam non reiciendis ex porro libero repellendus
        exercitationem aliquam voluptas. Delectus eos similique dolor
        perspiciatis perferendis quibusdam fugit nisi sint praesentium! Minus
        quas facere quibusdam tempore ex ea nesciunt cumque delectus? Sint nulla
        iure facere exercitationem sed cumque, ex quod libero in neque incidunt
        nemo rem maiores! Nobis, veritatis. Quisquam, libero. Quas, quam
        asperiores debitis, eum voluptatum modi nobis assumenda excepturi sequi
        rerum cupiditate omnis quos voluptate iste possimus est ciis quisquam
        commodi cum quae. Doloremque accusamus voluptas rerum temporibus nulla.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
        laboriosam non reiciendis ex porro libero repellendus exercitationem
        aliquam voluptas. Delectus eos similique dolor perspiciatis perferendis
        quibusdam fugit nisi sint praesentium! Minus quas facere quibusdam
        tempore ex ea nesciunt cumque delectus? Sint nulla iure facere
        exercitationem sed cumque, ex quod libero in neque incidunt nemo rem
        maiores! Nobis, veritatis. Quisquam, libero. Quas, quam asperiores
        debitis, eum voluptatum modi nobis assumenda excepturi sequi rerum
        cupiditate omnis quos voluptate iste possimus est dolore accusamus iusto
        odio eaque? Porro impedit veniam quis tenetur pariatur!
      </div>
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallup.net%2Fwp-content%2Fuploads%2F2019%2F09%2F708255-kittens-kitten-cat-cats-baby-cute.jpg&f=1&nofb=1&ipt=09e230b40e0bf8bf0731902225242afdae9986a909c02803db32f08b6855a75b&ipo=images"
        alt="a cat"
      />
      <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3><hr />
      <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
      <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>
      <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h6>
      <details>
        <summary
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </summary>Deleniti qui reiciendis corporis quam blanditiis perferendis
        unde ullam eveniet? Aperiam distinctio fugit, velit id modi
        necessitatibus fugiat totam exercitationem! Eligendi, quo.
      </details>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
        recusandae esse ipsam non necessitatibus. In dolorem velit, magnam quas
        pariatur laboriosam <b>
          dolorum magni eius, nesciunt commodi voluptates rerum officia non?
          Corrupti temporibus
        </b> tempore non ex eius eum dolor consectetur deleniti quae error quos vero,
        asperiores dolorum, molestias illo labore <i>
          repellendus sapiente unde et, libero ad ratione vel quaerat?
          Quibusdam, nostrum. Voluptatibus sequi labore iure recusandae corporis
          exercitationem quisquam
        </i> cum ex sed magnam aliquam omnis mollitia fugiat perferendis commodi
        optio dolor quas <a href="https://wikipedia.org/"
          >laboriosam ducimus adipisci, id earum harum aliquid rerum! Ad?
        </a>
      </p>
      <ol>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          architecto asperiores qui. Assumenda quia odio quis veritatis
          perferendis deleniti mollitia temporibus animi placeat, dolores
          recusandae, molestiae optio vitae? Quas, voluptatibus.
        </li>
        <li>
          Dolorum vitae unde quas accusamus ullam ab ex, doloribus a! Minus
          omnis tempora, dicta accusantium vero corrupti ea perferendis ipsa?
          Necessitatibus corrupti deleniti aliquid minima velit nemo libero
          recusandae sapiente!
        </li>
        <li>
          Quasi ipsa voluptate amet nam eligendi mollitia cupiditate sed nemo
          optio ipsum molestias, expedita nihil esse iusto architecto voluptates
          numquam eos, necessitatibus nesciunt error laborum, sapiente similique
          quae? Odit, qui.
        </li>
        <li>
          Consequuntur, distinctio mollitia neque sapiente at ratione recusandae
          deserunt totam harum voluptatibus enim, magni autem ducimus laboriosam
          rem quia. Itaque blanditiis ad ipsa quia consequatur officiis
          corporis, illo doloremque odit.
        </li>
        <li>
          Voluptate ab deleniti nemo quidem enim tenetur totam fuga, unde odit
          sint, a eos. Alias ut, praesentium recusandae repudiandae laudantium
          atque minima, laboriosam vero dolorum, necessitatibus dicta
          dignissimos deleniti doloremque?
        </li>
      </ol>
      <table>
        <caption> Front-end web developer course 2021 </caption>
        <thead>
          <tr>
            <th scope="col">Person</th>
            <th scope="col">Most interest in</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Chris</th>
            <td>HTML tables</td>
            <td>22</td>
          </tr>
          <tr>
            <th scope="row">Dennis</th>
            <td>Web accessibility</td>
            <td>45</td>
          </tr>
          <tr>
            <th scope="row">Sarah</th>
            <td>JavaScript frameworks</td>
            <td>29</td>
          </tr>
          <tr>
            <th scope="row">Karen</th>
            <td>Web performance</td>
            <td>36</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th scope="row" colspan="2">Average age</th>
            <td>33</td>
          </tr>
        </tfoot>
      </table>

      <ul>
        <li>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
          corporis eum eius temporibus deleniti ratione nobis totam, debitis
          necessitatibus quibusdam adipisci incidunt itaque numquam? Delectus
          porro rerum a deserunt totam.
        </li>
        <li>
          Odit saepe perferendis laborum quae quaerat aperiam eum officia quod
          provident? Tempore ipsam nemo animi ipsa quod vero accusamus qui
          eveniet, officia expedita repellendus. Nulla possimus deleniti sequi
          excepturi voluptatem?
        </li>
        <li>
          Error iusto accusantium aliquam rerum. Aliquid nam eligendi, deleniti
          explicabo, repudiandae quia a odio ullam saepe maiores voluptas
          quisquam, laudantium quod dolorum voluptatum consectetur harum?
          Aliquam suscipit ipsa nulla fuga.
        </li>
        <li>
          Cupiditate sit, quam facilis ea reiciendis porro est, qui natus
          accusamus voluptatem recusandae voluptate nostrum consequatur, nisi
          reprehenderit quo esse aliquam dignissimos pariatur. Voluptates,
          veritatis deserunt est delectus inventore sit!
        </li>
      </ul>
      <iframe
        id="inlineFrameExample"
        title="Inline Frame Example"
        width="300"
        height="200"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik"
      >
      </iframe>
      <video controls>
        <source
          src="https://samplelib.com/lib/preview/mp4/sample-5s.mp4"
          type="video/mp4"
        />
        video.
      </video>
      <audio controls></audio>
      <!-- src="https://en.wikipedia.org/wiki/File:Mozart_Don_Giovanni_2_dances_together.wav" -->
      <pre><code>body {"{"}
  color: yellow;
  font-size: 16px;
  line-height: 1.5;
{"}"}</code></pre>
      <p>
        Please press <kbd tabindex="0">Ctrl</kbd> + <kbd tabindex="0">Shift</kbd
        > + <kbd tabindex="0">R</kbd> to re-render an MDN page. <br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis temporibus
        veniam quasi voluptatum quo exercitationem perferendis alias voluptate ullam
        nobis id facere modi architecto aut quis ad, nemo iusto! Labore.
      </p>
    </NewAppTemplate>
    <NewAppTemplate client:load title="Windows 95" id="win95">
      <img
        src="https://lowendmac.com/win/95/win-95-1024.png"
        alt="Windows 95 screenshot"
      />
    </NewAppTemplate>
  </Fragment>
  <div class="windows">
    <Shortcut
      client:load
      name="Debug"
      href="gay"
      icon="https://i.ebayimg.com/images/g/Z3cAAOSwtchmwzCx/s-l140.jpg"
    />
    <Shortcut
      client:load
      name="Test"
      href="styles"
      icon="https://i.ebayimg.com/images/g/Z3cAAOSwtchmwzCx/s-l140.jpg"
    />
    <Shortcut
      client:load
      name="Ref"
      href="win95"
      icon="https://lowendmac.com/win/95/win-95-1024.png"
    />
    <Render client:load />
  </div>
  <div class="taskbar"></div>
</Base>
