---
import Base from "../layouts/base.astro";

import { NewAppTemplate } from "../components/template";
import Render from "../components/renderer";

import App from "../components/App.svelte";
import Shortcut from "../components/Shortcut.svelte";
---

<Base title="^-^ Jens lil ditch" favicon="favicon.svg">
  <Fragment slot="head">
    <script>
      console.log(`Hey there snooper! welcome to the codebase! this is written using astro, svelte, react, and nanostores, so lots of logic wont work if u copy paste it!
This code is freely avaliable at: 
https://github.com/afterlifepro/neocities 
Feel free to snoop! theres more info in the readme :3`);
    </script>

    <NewAppTemplate client:load title="gay" id="gay" size={300}>
      Hi from root
    </NewAppTemplate>
    <NewAppTemplate client:load title="gay2" id="gay2" size={300}>
      Hiiiii from root
    </NewAppTemplate>
    <NewAppTemplate client:load title="gay3" id="gay2" size={300}>
      Hiiiiidfsdf from root
    </NewAppTemplate>

    <style>
      body {
        margin: 0;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-areas:
          "w p"
          "t t";
        grid-template-columns: 1fr 200px;
        grid-template-rows: 1fr 30px;
        .windows {
          grid-area: w;
          overflow: clip;
          position: relative;
        }
        .pannel {
          grid-area: p;
        }

        .taskbar {
          grid-area: t;
        }
      }
    </style>
  </Fragment>
  <div class="windows">
    <Shortcut client:load name="Debug" href="gay" icon="./favicon.svg" />
    <Render client:load />
  </div>
  <div class="pannel"></div>
  <div class="taskbar"></div>
</Base>
