---
import Base from "../layouts/base.astro";

import "../globals.css";

import IndexShortcuts from "../shortcuts/index.shortcuts.astro";

import Render from "../components/renderer.tsx";
import Taskbar from "../components/taskbar.tsx";
import Templates from "../templates.astro";
---

<Base
  title="^-^ Jens lil ditch"
  favicon={import.meta.env.BASE_URL + "favicon.svg"}
>
  <Fragment slot="head">
    <script>
      console.log(`Hey there snooper! welcome to the codebase! this is written using astro, svelte, react, and nanostores, so lots of logic wont work if u copy paste it!
This code is freely avaliable at: 
https://github.com/afterlifepro/neocities 
Feel free to snoop! theres more info in the readme :3`);

      import settings from "../settings";

      const root: HTMLElement = document.documentElement;

      settings.value.subscribe((settings) => {
        root.style.setProperty("--scale", settings.scale.toString());
        root.style.setProperty(
          "--scale-str",
          `"${Math.floor(settings.scale * 100).toString()}%"`
        );
        root.style.setProperty(
          "--fonts",
          settings.pixel ? "W95FA, sans-serif" : "sans-serif"
        );
      });
    </script>

    <style>
      body {
        margin: 0;
        width: 100dvw;
        height: 100dvh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3rem;

        .windows {
          overflow: clip;
          position: relative;
          display: grid;
          grid-template-columns: repeat(auto-fit, 8rem);
          grid-template-rows: repeat(auto-fit, minmax(10rem, min-content));
          grid-auto-flow: column;
          background: var(--desktop-bg);
        }
      }
    </style>

    <Templates />
  </Fragment>

  <div class="windows">
    <IndexShortcuts />

    <Render client:load />
  </div>
  <Taskbar client:load />
</Base>
