---
import Base from "../layouts/base.astro";

import "../globals.css";

import NewAppTemplate from "../components/template.tsx";
import Render from "../components/renderer.tsx";
import Taskbar from "../components/taskbar.tsx";

import TaskManager from "../windows/debug/taskman.astro";
import Settings from "../windows/settings.svelte";

import App from "../components/App.svelte";
import Counter from "../windows/counter.svelte";
import Shortcut from "../components/Shortcut.svelte";

import License from "../windows/license.astro";
import StyleTest from "../windows/debug/styleTest.astro";
import OtherSites from "../windows/otherSites.astro";
import Appman from "../windows/debug/appman.astro";
import Debug from "../windows/debug.astro";
---

<Base
  title="^-^ Jens lil ditch"
  favicon={import.meta.env.BASE_URL + "favicon.svg"}
>
  <Fragment slot="head">
    <script>
      console.log(`Hey there snooper! welcome to the codebase! this is written using astro, svelte, react, and nanostores, so lots of logic wont work if u copy paste it!
This code is freely avaliable at: 
https://github.com/afterlifepro/neocities 
Feel free to snoop! theres more info in the readme :3`);

      import settings from "../settings";

      const root: HTMLElement = document.documentElement;

      settings.value.subscribe((settings) => {
        root.style.setProperty("--scale", settings.scale.toString());
        root.style.setProperty(
          "--scale-str",
          `"${Math.floor(settings.scale * 100).toString()}%"`
        );
        root.style.setProperty(
          "--fonts",
          settings.pixel ? "W95FA, sans-serif" : "sans-serif"
        );
      });
    </script>

    <style>
      body {
        margin: 0;
        width: 100dvw;
        height: 100dvh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3rem;

        .windows {
          overflow: clip;
          position: relative;
          display: grid;
          grid-template-columns: repeat(auto-fit, 8rem);
          grid-template-rows: repeat(auto-fit, minmax(10rem, min-content));
          grid-auto-flow: column;
          background: var(--desktop-bg);
        }
      }
    </style>

    <TaskManager />

    <Appman />

    <StyleTest />

    <NewAppTemplate client:load title="Windows 95" id="win95">
      <img
        src="https://lowendmac.com/win/95/win-95-1024.png"
        alt="Windows 95 screenshot"
      />
    </NewAppTemplate>
    <License />
    <NewAppTemplate client:load title="Settings" id="settings">
      <Settings client:load />
    </NewAppTemplate>
    <NewAppTemplate
      client:load
      title="Really really long super duper long title it never seems to end dude whats up"
      id="long"
    >
      Long
    </NewAppTemplate>
    
    <OtherSites />

    <Debug />
  </Fragment>
  <div class="windows">
    <Shortcut
      client:load
      name="Debug"
      href="debug"
      icon="https://i.ebayimg.com/images/g/Z3cAAOSwtchmwzCx/s-l140.jpg"
    />
    <Shortcut
      client:load
      name="License"
      href="license"
      icon="https://i.ebayimg.com/images/g/Z3cAAOSwtchmwzCx/s-l140.jpg"
    />
    <Shortcut
      client:load
      name="Settings"
      href="settings"
      icon="https://images.freeimages.com/images/large-previews/0a8/cog-1521245.jpg"
    />
    <Shortcut
      client:load
      name="Other Sites"
      href="otherSites"
      icon="https://i.ebayimg.com/images/g/Z3cAAOSwtchmwzCx/s-l140.jpg"
    />    
    
    <Render client:load />
  </div>
  <Taskbar client:load />
</Base>
