.window {
  width: min(var(--width, 20rem), 95svw);
  max-height: min(var(--max-height, 40rem), 95svh);
  z-index: var(--layer, 0);
  top: var(--y, 0);
  left: var(--x, 0);
  position: absolute;
  box-sizing: content-box;
  background: white;
  border: 0.2rem solid black;
  border-color: var(--border-extrude);
  box-shadow: 0.4rem 0.4rem #00000080;
  & .goobers-container {
    position: absolute;
    top: calc(-6.4rem - 0.2rem); /* 0.2rem is border size */
    height: 6.4rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;

    pointer-events: none;

    & .goober {
      height: 3.2rem;

      image-rendering: pixelated;
      filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.3764705882));
      &.big {
        height: 6.4rem;
      }
      &.flip {
        transform: scaleX(-100%);
      }
      &.float {
        position: relative;
        top: -1.6rem;
      }
      &.clear {
        aspect-ratio: 1/1;
      }
    }
  }
  & .cap {
    background: var(--cap-colour, var(--cap));
    color: var(--cap-text-colour, white);
    height: 2.2rem;
    padding: 0.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 0.2rem solid black;
    user-select: none;
    & img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
    & div {
      overflow: hidden;
      height: 100%;
      flex-grow: 1;
    }

    & button {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  & .winContent {
    max-height: calc(var(--max-height, 20rem) - 2.2rem);
    overflow: auto;
    padding: 0.5rem;
  }

  &:has(.cap:active) {
    outline: 0.5rem solid var(--accent-focus);
  }
}
