.window {
  width: min(var(--width, 20rem), 95svw);
  max-height: min(var(--max-height, 40rem), 95svh);
  z-index: var(--layer, 0);
  top: var(--y, 0);
  left: var(--x, 0);
  position: absolute;
  box-sizing: content-box;
  background: white;
  border: 0.2rem solid black;
  border-color: var(--border-extrude);
  box-shadow: 0.4rem 0.4rem #00000080;
  & .cap {
    background: var(--cap-colour, var(--cap));
    color: var(--cap-text-colour, white);
    padding: 0.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 0.2rem solid black;
    user-select: none;
    white-space: nowrap;
    overflow-y: visible;
    & img {
      height: 2.2rem;
      aspect-ratio: 1;
      object-fit: cover;
    }
    & div {
      overflow: hidden;
      height: 100%;
      flex-grow: 1;
    }

    & button {
      height: 2.2rem;
      width: 2.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  & .winContent {
    max-height: calc(var(--max-height, 20rem) - 3rem);
    overflow: auto;
    padding: 0.5rem;
  }

  &:has(.cap:active) {
    outline: 0.5rem solid var(--accent-focus);
  }
}

/* Goobers */
.window .goobers-container {
  position: absolute;
  top: calc(-3.2rem * 3 - 0.2rem); /* 0.2rem is border size */
  height: 9.6rem;
  width: 100%;
  padding-inline: 0.5rem;
  overflow: hidden;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--col, auto-fill), 3.2rem);
  grid-template-rows: 9.6rem;

  align-items: end;

  pointer-events: none;

  & .goober {
    width: 100%;

    image-rendering: pixelated;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.3764705882));

    &.flip {
      transform: scaleX(-100%);
    }
    &.float {
      align-self: flex-start;
    }
  }
}
