---
import NewAppTemplate from "@/components/template";
---

<NewAppTemplate client:load title="Licenses" id="license" maxHeight={250}
  ><h1>Licenses</h1>
  <p>
    The code for website is licensed under the
    <a
      href="https://github.com/Afterlifepro/neocities/blob/master/COPYING"
      target="_blank">GNU General Public License v3</a
    >.
  </p>
  <p>This website uses the following fonts:</p>
  <ul>
    <li>
      <a href="https://www.dafont.com/w95fa.font" target="_blank">W95FA</a> - Licensed
      under
      <a
        href="https://scripts.sil.org/cms/scripts/page.php?id=OFL_web"
        target="_blank">SIL OpenFont License</a
      >
    </li>
    <li>
      <a href="https://www.1001fonts.com/7-12-serif-font.html" target="_blank"
        >7:12 Serif Font</a
      >
      - Licensed under the
      <a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank"
        >Creative Commons Attribution License (CC BY-SA 3.0)</a
      >
      <br />
      Created by <a
        href="https://www.1001fonts.com/users/christianmunk/"
        target="_blank">Christian Munk</a
      >
    </li>
    <li>
      <a href="https://monaspace.githubnext.com/" target="_blank"
        >Github Monaspace Neon</a
      > - Licensed under
      <a
        href="https://scripts.sil.org/cms/scripts/page.php?id=OFL_web"
        target="_blank">SIL OpenFont License</a
      >
      <br />
      Created by <a href="https://github.com/" target="_blank">Github</a>
    </li>
  </ul>

  <p>This website uses the following images and gifs:</p>
  <ul>
    <li>
      My goobers - Licensed under <a
        href="https://www.gov.uk/copyright"
        target="_blank">UK Copyright Law</a
      >
    </li>
  </ul>
</NewAppTemplate>
