/********
* FONTS *
********/
@import url("/w95fa/w95fa.css");
@import url("/monaspace-neon-var/monaspace-neon-var.css");
@import url("/pixel-mono/pixel-mono.css");

/**********
* PALLETE *
**********/
:root {
  /* use 62.5% to make the base size 10px
  default font size (and em) are at 16px for everything unless otherwise specified
  this just makes the sizing easier while still respecting user set font sizes */
  font-size: calc(62.5% * var(--scale, 1));
  font-family: var(--fonts, "W95FA", sans-serif);

  --desktop-bg: #008282;
  --cap: #000080;
  --window: #d3d3d3;
  --accent: #3d3dbb;
  --accent-focus: #30acac;
  --border-extrude: white black black white;
  --border-intrude: black white white black;
}

*,
*::before,
*::after {
  font: inherit;
  font-size: 1.6rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-inline: 0;
  margin-block: 0;
  padding-inline: 0;
  padding-block: 0;
  accent-color: var(--accent);
  outline-color: var(--accent-focus);
  &:focus {
    outline: 0.2rem solid var(--accent-focus);
  }
}

img,
picture,
svg,
video,
iframe,
audio {
  display: block;
  object-fit: cover;
  max-width: 100%;

  &:is(audio) {
    width: 100%;
  }
}

/**********
* WINDOWS *
**********/
.winContent {
  background-color: var(--window);
}

/********
* FORMS *
********/
fieldset {
  margin: 0.25rem;
  padding: 0.25rem;
  border: 0.1rem solid;
  width: fit-content;
  float: left;
  padding: 0.5rem;
  &.nofloat {
    width: initial;
    float: none;
  }
}
input {
  /* normal input */
  border: 0.2rem solid black;
  border-color: var(--border-intrude);
  background-color: var(--window);
  transition: background-color 250ms ease-in-out;
  &::before {
    transition: inherit;
  }
  margin: 0.1rem;

  &[type="range"] {
    accent-color: var(--accent);
    appearance: none;
    height: 1rem;
    width: 100%;
    background-color: hsl(from var(--window) h s calc(l * 0.8));
    /* border: none; */

    &::-moz-range-thumb,
    &::-webkit-slider-thumb {
      border-radius: 0;
      background-color: var(--window);
      border-width: 0.2rem;
      height: 1rem;
      width: 1rem;
      border-color: var(--border-extrude);
    }

    &::-moz-range-progress {
      background-color: var(--accent);
      height: 100%;
    }

    &:focus-within {
      outline: none;
      &::-moz-range-thumb,
      &::-webkit-slider-thumb {
        outline: 0.2rem solid var(--accent-focus);
      }
    }
  }
  &[type="radio"] {
    margin: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    appearance: none;
    display: inline-block;
    border: none;
    background-color: transparent;

    color: white;

    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    margin-right: 0.2rem;
    top: 0.2rem;

    background-color: var(--window);
    border: 0.2rem solid;
    border-color: var(--border-intrude);
    border-radius: 100%;
    background-color: hsl(from var(--window) h s calc(l * 0.8));
    &::before {
      content: "";
      top: 0.2rem;
      left: 0.2rem;
      position: relative;
    }
    &:checked {
      background-color: var(--accent);
      &::before {
        background-color: white;

        width: 0.7rem;
        height: 0.7rem;
        display: block;

        border-radius: 100%;
      }
    }
    &:focus-visible {
      outline: 0.2rem solid var(--accent-focus);
    }
  }
  &[type="checkbox"]:not([data-toggle], .toggle) {
    margin: 0;
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0.25rem;
    margin-bottom: -0.25rem;
    margin-right: 0.25rem;
    appearance: none;
    display: inline-block;
    border: none;
    background-color: transparent;
    &::before {
      content: "";
      line-height: 1.25rem;
      text-align: center;
      color: white;

      width: 1.5rem;
      height: 1.5rem;
      display: block;

      background-color: var(--window);
      border: 0.2rem solid;
      border-color: var(--border-intrude);
      background-color: hsl(from var(--window) h s calc(l * 0.8));
    }
    &:checked::before {
      background-color: var(--accent);
      content: "✓";
    }
    &:focus-visible {
      outline: 0.2rem solid var(--accent-focus);
    }
  }
  &[type="checkbox"][data-toggle],
  &[type="checkbox"].toggle {
    height: 2rem;
    width: 3rem;
    margin-right: 0.4rem;

    cursor: pointer;

    margin-block-start: 0.2rem;
    border: 0.2rem solid;
    border-color: var(--border-intrude);

    appearance: none;
    display: inline-block;

    background-color: hsl(from var(--window) h s calc(l * 0.8));

    position: relative;

    &::before {
      border: 0.2rem solid;
      border-color: var(--border-extrude);
      box-sizing: content-box;

      content: "";

      width: 0.8rem;
      height: 0.8rem;

      position: absolute;
      left: 0.2rem;
      top: 0.2rem;
      transition: left 250ms ease-in-out;

      opacity: 1;
      clip-path: none;

      background-color: white;
    }

    &:checked {
      background-color: var(--accent);
      &::before {
        left: 1.2rem;
      }
    }

    &:focus-visible {
      outline: none;
      &::before {
        outline: 0.2rem solid var(--accent-focus);
      }
    }
  }
}
progress {
  appearance: none;
  border: 0.2rem solid;
  border-color: var(--border-intrude);
  background-color: #ffffff40;
  width: 100%;
  height: 2rem;
}
button {
  border: 0.2rem solid;
  padding: 0.1rem;
  min-width: 1.8rem;
  min-height: 1.8rem;
  border-color: var(--border-extrude);
  &.link {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    padding-inline: 0;
    color: var(--accent);

    &:active {
      color: var(--accent-focus);
    }
  }
}

/*******
* TEXT *
*******/
h1 {
  margin: 0.75rem 0.25rem;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
h2 {
  margin: 0.35rem 0.15rem;
  font-weight: bold;
  font-size: 2.4rem;
}
h3 {
  margin: 0.1rem;
  font-style: oblique;
  font-size: 2.1rem;
}
h4 {
  margin: 0.1rem;
  font-size: 1.9rem;
}
h5 {
  margin: 0.1rem;
  font-size: 1.7rem;
  font-style: italic;
  font-weight: bold;
}
h6 {
  margin: 0.1rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

/* p {
} */

details {
  border: 0.1rem solid black;
  margin: 0.25rem;
  padding: 0.1rem;
  transition: height 500ms;
  & summary {
    font-weight: bolder;
  }
  &[open] summary {
    font-style: oblique;
    &::marker {
      font-style: normal;
    }
  }
}

blockquote {
  margin: 0.25rem;
  margin-inline-start: 1.5rem;
  padding-inline-start: 0.5rem;
  border-left: 0.2rem solid black;
  &[data-src]::after {
    content: "- " attr(data-src);
    display: block;
  }
}

/* hr {
} */
b {
  font-weight: bold;
}
i {
  font-style: oblique;
}
/* a {
} */
code,
kbd {
  font-family: "pixel mono", "Monaspace", monospace;
}
code {
  display: block;
  width: max-content;
  background-color: #00000030;
  /* color: white; */
  margin: 0.5rem;
  padding: 0.5rem;
}
kbd {
  background-color: #f7f2e4;
  user-select: none;
  color: #2e2e2e;
  /* apply box shadows */
  box-shadow: 0 0 0.5rem 0.2rem #b6ae97 inset;
  /* lower key when clicked */
  --keyHeight: 0.5rem;
  top: 0;
  position: relative;
  transition: top 100ms; /* disable until @property is working */
  outline: none;
  &:active,
  &:focus-visible {
    --keyHeight: 0.25rem;
    top: 0.25rem;
  }
  position: relative;
  &::after {
    transition:
      height 100ms,
      bottom 100ms;
    width: 100%;
    height: var(--keyHeight);
    background-color: #9e9c94;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: calc(var(--keyHeight) * -1);
    border-radius: 0 0 0.2rem 0.2rem;
  }
  /* misc styles */
  display: inline-block;
  border-radius: 0.2rem 0.2rem 0 0;
  font-size: 0.85em;
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
  margin-bottom: 0.75rem;
}

/*********
* TABLES *
*********/
table {
  border-spacing: 0;
  margin: 0.5rem;
  & td,
  & th,
  & caption {
    border: 0.05rem solid #00000080;
  }
}

/********
* LISTS *
********/
ul {
  margin-inline-start: 1.5rem;
  & li {
    list-style-type: "▪ ";
    list-style-position: outside;
  }
}

ol {
  margin-inline-start: 1.5rem;
}

/**********
* FIGURES *
**********/
figure:not([data-shortcut]) {
  width: min(50%, 20rem);
  margin: 0.5rem;
  border: 0.2rem solid;
  border-color: var(--border-extrude);
  float: left;
  & figcaption {
    padding-inline: 0.25rem;
    padding-block-end: 0.1rem;
  }
}
