---
import NewAppTemplate from "@/components/template";
import Settings from "@/windows/settings.svelte";
import Appman from "@/windows/debug/appman.astro";
import StyleTest from "@/windows/debug/styleTest.astro";
import Taskman from "@/windows/debug/taskman.astro";
import License from "@/windows/license.astro";
import OtherSites from "@/windows/otherSites.astro";
import Share from "@/windows/share.astro";
import DebugShortcuts from "@/shortcuts/debug.shortcuts.astro";
import Welcome from "@/windows/welcome.astro";
import KillAll from "@/windows/debug/killAll";
import Home from "@/windows/home";
---

<div style="display:none" data-hwyla="templates">
  <!-- this is where templates are stored -->
  <!-- (hwyla means heres what youre looking at) -->

  <NewAppTemplate client:load title="Welcome" id="welcome" width={300}>
    <Welcome />
  </NewAppTemplate>

  <Taskman />

  <Appman />

  <NewAppTemplate client:load title="Kill all" id="killall">
    <KillAll client:load />
  </NewAppTemplate>

  <StyleTest />

  <NewAppTemplate client:load title="Windows 95" id="win95">
    <img
      src="https://lowendmac.com/win/95/win-95-1024.png"
      alt="Windows 95 screenshot"
    />
  </NewAppTemplate>

  <License />

  <NewAppTemplate client:load title="Settings" id="settings">
    <Settings client:load />
  </NewAppTemplate>

  <NewAppTemplate
    client:load
    title="Really really long super duper long title it never seems to end dude whats up"
    id="long"
  >
    Long
  </NewAppTemplate>

  <OtherSites />

  <NewAppTemplate client:load title="debug" id="debug" width={180}>
    <div class="debug-wrapper">
      <div
        style="display:flex; justify-content: center; align-items: center; text-align: center; height: 100%;"
      >
        <div
          style="width: fit-content; height: fit-content; background-color: #00000050; color: white; padding:0.5rem; margin: 0.5rem; font-size: 1rem;"
        >
          <a href="/debug" style="color: inherit; font: inherit">Open Debug Page</a>
        </div>
      </div>
      <DebugShortcuts />
    </div>
  </NewAppTemplate>

  <Share />
</div>

<style>
  .debug-wrapper {
    display: grid;
    grid-template-columns: 8rem 8rem;
    grid-template-rows: repeat(auto-fit, minmax(10rem, min-content));
    grid-auto-flow: row;
    align-items: start;
    justify-content: center;
  }
</style>
