---
import NewAppTemplate from "./components/template";
import Settings from "./windows/settings.svelte";
import Appman from "./windows/debug/appman.astro";
import StyleTest from "./windows/debug/styleTest.astro";
import Taskman from "./windows/debug/taskman.astro";
import License from "./windows/license.astro";
import OtherSites from "./windows/otherSites.astro";
import Share from "./windows/share.astro";
import DebugShortcuts from "./shortcuts/debug.shortcuts.astro";
---

<div style="display:none" data-hwyla="templates">
  <!-- this is where templates are stored -->
   <!-- (hwyla means heres what youre looking at) -->
  <Taskman />

  <Appman />

  <StyleTest />

  <NewAppTemplate client:load title="Windows 95" id="win95">
    <img
      src="https://lowendmac.com/win/95/win-95-1024.png"
      alt="Windows 95 screenshot"
    />
  </NewAppTemplate>

  <License />

  <NewAppTemplate client:load title="Settings" id="settings">
    <Settings client:load />
  </NewAppTemplate>

  <NewAppTemplate
    client:load
    title="Really really long super duper long title it never seems to end dude whats up"
    id="long"
  >
    Long
  </NewAppTemplate>

  <OtherSites />

  <NewAppTemplate client:load title="debug" id="debug" width={90}>
    <DebugShortcuts />
  </NewAppTemplate>

  <Share />
</div>
