---
const { title, favicon } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <title>{title}</title>
    <link rel="icon" href={favicon} />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
