---
import "@/globals.css";

import Render from "@/components/renderer.tsx";
import Taskbar from "@/components/taskbar.tsx";
import Templates from "@/templates.astro";

const { title, snooper } = Astro.props;
---

<!doctype html>
<html data-snooper={snooper}>
  <head>
    <title>{title ? `^-^ Jens lil ditch - ${title}`: "^-^ Jens lil ditch!!"}</title>
    <link rel="icon" href={import.meta.env.BASE_URL + "favicon.svg"} />
    <meta charset="utf-8">
    <script>
        console.log(document.documentElement.dataset.snooper); // snooper);
  
        import settings from "../settings";
  
        const root: HTMLElement = document.documentElement;
  
        settings.value.subscribe((settings) => {
          root.style.setProperty("--scale", settings.scale.toString());
          root.style.setProperty(
            "--scale-str",
            `"${Math.floor(settings.scale * 100).toString()}%"`
          );
          root.style.setProperty(
            "--fonts",
            settings.pixel ? "W95FA, sans-serif" : "sans-serif"
          );
        });
      </script>
  
      <style>
        body {
          margin: 0;
          width: 100dvw;
          height: 100dvh;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 3rem;
  
          .windows {
            overflow: clip;
            position: relative;
            display: grid;
            grid-template-columns: repeat(auto-fit, 8rem);
            grid-template-rows: repeat(auto-fit, minmax(10rem, min-content));
            grid-auto-flow: column;
            background: var(--desktop-bg);
            padding: 0.5rem;
          }
        }
      </style>

      <Templates />

  </head>
  <body>
    <div class="windows">

        <slot /> 

        <Render client:load />
      </div>

      <Taskbar client:load />
  </body>
</html>

