---
import Shortcut from "@/components/Shortcut.svelte";
---

<div
  style="display:flex; justify-content: center; align-items: center; text-align: center; height: 100%;"
>
  <div
    style="width: fit-content; height: fit-content; background-color: #00000050; color: white; padding:0.5rem; margin: 0.5rem; font-size: 1rem;"
  >
    {
      import.meta.env.DB_TARGET === "neocities"
        ? "running on neocities"
        : import.meta.env.DB_TARGET === "github"
          ? "running on github"
          : "unknown DB_TARGET : " + import.meta.env.DB_TARGET
    }
  </div>
</div>

<Shortcut
  client:load
  name="Debug"
  href="taskman"
  icon="https://i.ebayimg.com/images/g/Z3cAAOSwtchmwzCx/s-l140.jpg"
/>
<Shortcut
  client:load
  name="Test"
  href="styles"
  icon="https://i.ebayimg.com/images/g/Z3cAAOSwtchmwzCx/s-l140.jpg"
/>
<Shortcut
  client:load
  name="Settings"
  href="settings"
  icon="https://images.freeimages.com/images/large-previews/0a8/cog-1521245.jpg"
/>
<Shortcut
  client:load
  name="Long"
  href="long"
  icon="https://i.ebayimg.com/images/g/Z3cAAOSwtchmwzCx/s-l140.jpg"
/>
<Shortcut
  client:load
  name="App Manager"
  href="appman"
  icon="https://i.ebayimg.com/images/g/Z3cAAOSwtchmwzCx/s-l140.jpg"
/>
<Shortcut
  client:load
  name="Kill All"
  href="killall"
  icon="https://i.ebayimg.com/images/g/Z3cAAOSwtchmwzCx/s-l140.jpg"
/>
