/* 7:12-serif-regular */
@font-face {
	font-family: "pixel mono";
	font-style: normal;
	font-weight: 400;
	src: local("7:12 Serif Regular"), local("7:12-Serif"), url(7:12-serif-regular.woff2) format("woff2"), url(7:12-serif-regular.woff) format("woff");
}

